<app-title title="ABOUT_THE_PROJECT"></app-title>
<img src="assets/stock-images/stock1.jpg" class="main-image" />
<p class="text">
  يهدف مشروع مسح واقع التنمية الريفية للمناطق اللبنانية الى نقل صورة دقيقة ومستحدثة الحاجات البلدات وأهاليها، وتكون بذلك
  أداة جوهرية لصانعي القرار لدى السلطات المحلية والوطنية على أن تؤخذ هذه البينات في عين الاعتبار في صلب عملية التخطيط
  والتنفيذ والتقييم للمشاريع والسياسات. تم جمع كافة البيانات المتوفرة على منصة الكترونية، المعروفة ب IMPACT، أي المنصة
  المشتركة بين البلديات / بين الوزارت) للتقييم والتنسيق والمتابعة، والتي أنشأت أوائل عام 2020 باشراف التفتيش المركزي،
  بالشراكة مع هيئات متخصصة من المجتمع المدني والقطاع الخاص. تهدف المنصة الى مكننة جمع البينات والوصول اليها بشكل شفاف
  ومفتوح، وتشكل مبادرة بارزة سعيا لانجاح التحول الرقمي للإدارة العامة في لبنان، وارساء قواعد شفافة للتنسيق الفعال بين
  مختلف المؤسسات الرسمية فيما يتعلق بحسن إدارة البينات وضمان سلامتها. أتاحت المنصة فرصة اطلاق مشروع مشترك في 9 أيلول
  2020 بين التفتيش المركزي ووزارة المهجرين بهدف اجراء مسح شامل للتنمية الريفية للمناطق، عن طريق الاتكال على خبرة البلدات
  كافة. وتم توسيع مروحة المؤسسات المتعاونة بقرار من مجلس الوزراء، حيث تم انشاء لجنة وزارية في شباط 2020، تحت رئاسة رئيس
  الحكومة ممثلا بوزيرة المهجرين، تمهيدا لإطلاق عملية المسح عند مستخدمي المناطق (من بلديات ومختارين) في تموز 2020.
</p>
